<aside class="p-4 bg-body-secondary">
  <h1>Nail Art</h1>
  <hr />
  <div class="list-group">
    <a href="/arts" class="list-group-item">
      <i class="bi bi-image"></i>
      Arts
    </a>
    <a href="/catagories" class="list-group-item">
      <i class="bi bi-grid"></i>
      Catagories
    </a>
  </div>
</aside>
