<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') -%>
  <body>
    <%- include('partials/header') -%>
    <main>
      <section>
        <h2>Create Catagory</h2>
        <form action="/catagories" method="post" enctype="multipart/form-data">
          <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" />
          </div>
          <div>
            <label for="image">Image:</label>
            <input type="file" id="image" name="image" />
          </div>
          <div>
            <label for="description">Description:</label>
            <textarea id="description" name="description"></textarea>
          </div>
          <div>
            <button type="submit">Create</button>
          </div>
        </form>
      </section>
    </main>
  </body>
</html>
