<!DOCTYPE html>
<html lang="en">
  <%- include('components/head') -%>
  <body class="d-flex vh-100">
    <%- include('components/aside') -%>
    <main class="overflow-y-scroll flex-grow-1 p-4">
      <%- include(`pages/${page}`) -%>
    </main>
  </body>
</html>
