<section>
  <h2>Create Art</h2>
  <hr />
  <form action="/arts/create" method="post" enctype="multipart/form-data">
    <div class="row mb-3">
      <label for="title" class="col-sm-2 col-form-label">Title</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="title"
          name="title"
          required
        />
      </div>
    </div>
    <div class="row mb-3">
      <label for="catagory" class="col-sm-2 col-form-label">Catagory</label>
      <div class="col-sm-10">
        <select class="form-select" name="catagory_id" id="catagory">
          <% catagories.forEach(({ id, name }) => { %>
          <option value="<%= id %>"><%= name %></option>
          <% }); %>
        </select>
      </div>
    </div>
    <div class="row mb-3">
      <label for="image" class="col-sm-2 col-form-label">Image</label>
      <div class="col-sm-10">
        <input class="form-control" type="file" id="image" name="image" />
      </div>
    </div>
    <button type="submit" class="btn btn-secondary">Create</button>
  </form>
</section>
